/* 
    Google Fontes:
        font-family: 'Spartan', sans-serif;
        font-family: 'Work Sans', sans-serif;   

    Cores do Projeto: 

        :root {
            --body-bg-color: #121214;
            --text-color: #E1E1E6;
            --title-color: #04D361;
            --form-color: #A8A8A8;
            --bg-button-color: #8257e5;
}


*/

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #ffffff;
}
.flex-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.flex-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 30px;
}

.bg-img {
  background: url(../img/bg.jpg) no-repeat right center/cover;
}

.logo {
  flex-grow: 1;
}
.content {
  flex-grow: 4;
}
.call {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75;
  color: #04d361;
}

.call span {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  color: #e1e1e6;
}
.text {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #e1e1e6;
}

form {
  margin-top: 60px;
}
form fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  line-height: 3;
}
label {
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  color: #a8a8a8;
}
.form-group {
  display: grid;

  position: relative;
}
.form-group input[type='text'] {
  position: absolute;
  z-index: 1;
  height: 48px;
  width: 65vw;
  border-left: 5px solid #04d361;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  padding: 0 15px;
  color: #6a6a6a;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

button {
  background-color: #8257e5;
  height: 48px;
  width: 47px;
  position: relative;
  right: -65vw;
  border: 0;
  z-index: 2;
}

a {
  color: #8257e5;
  font-family: 'Spartan', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  padding-top: 50px;
  text-decoration: none;
  position: relative;
}
a img {
  position: absolute;
  padding: 8px;
}
